<div class="content">
    <app-my-card-content title="Horarios">
      <br>
      <div class="grid">
        <div class="col-4">
          <div class="tabla_principal" routerLink="/admin/instructor_schedule">
            <mat-icon>calendar_today</mat-icon>
           <h2>Horarios instructor</h2>
          </div>
        </div>
        <div class="col-4">
          <div class="tabla_principal">
            <mat-icon>calendar_today</mat-icon>
            <h2>Horarios fichas</h2>
          </div>
        </div>
        <div class="col-4">
          <div class="tabla_principal">
            <mat-icon>calendar_today</mat-icon>
            <h2>Horarios aulas</h2>
          </div>
        </div>
        
      </div>
  <br>
      <div class="grid">
        <div class="col-4">
          <div class="tabla_principal">
            <mat-icon>calendar_today</mat-icon>
           <h2>Generar horario instructor</h2>
          </div>
        </div>
        <div class="col-4">
          <div class="tabla_principal">
            <mat-icon>calendar_today</mat-icon>
            <h2>Generar horario ficha</h2>
          </div>
        </div>
        <div class="col-4">
          <div class="tabla_principal">
            <mat-icon>calendar_today</mat-icon>
            <h2>Generas horario aula</h2>
          </div>
        </div>
      
       
      </div>
  
    </app-my-card-content>
  </div>
  
