<div class="content">
    <app-my-card-content title="Roles" iconback="true">
      <div class="grid">
        <div class="col-12">
          <app-my-table
            [(datasource)]="dataSource"
            [(columns)]="columns"
            [(length)]="length"
            paginator="true"
            search="true"
            [(pagesize)]="pageSize"
            [(isLoadingResults)]="isLoadingResults"
            placeholder="Ingrese nombre del usuario"
            label="Buscar usuario"
            [(pagesizeoptions)]="pageSizeOptions"
            (changePaginator)="changePaginator($event)"
            (changeFilter)="changeFilter($event)"
            (changeSort)="changeSort($event)"
            (deleteItems)="deleteItems($event)"
            (editItems)="editItems($event)"
          >
          </app-my-table>
        </div>
        <div class="content-button">
          <a
            mat-button
            (click)="openModalRol('Crear Rol')"
            color="primary"
            style="color:#238276"
            class="button_add_document"
          >
            <mat-icon>add</mat-icon> Crear Rol
          </a>
        </div>
      </div>
    </app-my-card-content>
  </div>
  
  <!-- modal -->
  <app-my-modal
    title="{{ titleModal }}"
    [open]="openModal"
    (close)="deleteModal()"
    (save)="createModal()"
  >
    <div class="grid">
      <div class="col-12">
        <app-my-input
          label="Descripción"
          placeholder="Descripción"
          [(value)]="firts_name"
        >
        </app-my-input>
      </div>
      
    </div>
  </app-my-modal>
  
