.card-content {
  width: 80%;
  margin-left: 10%;

  .title {
    position: relative;
    margin-right: 15px;
    left: -16px;
    font-size: 26px;
    top: 10px;
    color: #238276 !important;
  }

  .mat-card-actions {
    text-align: right;
  }
  .content{
    margin:20px;
  }

  .icon-back{
    cursor: pointer;
  }
}
