<div class="content">
  <app-my-card-content title="Tablas">
    <br>
    <div class="grid">
      <div class="col-3">
        <div class="tabla_principal" [routerLink]="['/admin/users']">
          <mat-icon>supervised_user_circle</mat-icon>
         <h2>Usuarios</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal" [routerLink]="['/admin/roles']">
          <mat-icon>check_circle</mat-icon>
          <h2>Roles</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal" [routerLink]="['/admin/specialties']">
          <mat-icon>book</mat-icon>
          <h2>Especialidades</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal"[routerLink]="['/admin/specialties_users']">
          <mat-icon>work</mat-icon>
          <h2>Especialidad usuarios</h2>
        </div>
      </div>
    </div>
<br>
    <div class="grid">
      <div class="col-3">
        <div class="tabla_principal" [routerLink]="['/admin/specialties_programs']">
          <mat-icon>local_library</mat-icon>
         <h2>Especialidad programas</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal" [routerLink]="['/admin/course']">
          <mat-icon>school</mat-icon>
          <h2>Fichas</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal">
          <mat-icon>local_library</mat-icon>
          <h2>Programas</h2>
        </div>
      </div>
    
      <div class="col-3">
        <div class="tabla_principal">
          <mat-icon>view_quilt</mat-icon>
          <h2>Bloques</h2>
        </div>
      </div>
    </div>
<br>
    <div class="grid">
      <div class="col-3">
        <div class="tabla_principal">
          <mat-icon>domain</mat-icon>
         <h2>Sede</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal">
          <mat-icon>event_seat</mat-icon>
          <h2>Aula</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal">
          <mat-icon>event_seat</mat-icon>
          <h2>Descripcion aula</h2>
        </div>
      </div>
      <div class="col-3">
        <div class="tabla_principal">
          <mat-icon>local_library</mat-icon>
          <h2>Tipo de programas</h2>
        </div>
      </div>
    </div>
  </app-my-card-content>
</div>
