.filter-header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-top: 63px;
  height: 45px;
  background-color: #d6d5d5;
  z-index: 1;
  margin-left: 60px;
}

.filter-content {
  margin-left: 60px;
  margin-top: 108px;
  width: 200px;
  height: 86vh;
  position: fixed;
  background-color: #d6d5d5;
}

.options {
  background-color: #d6d5d5;
  padding: 20px;
  overflow-y: auto;
}

.options2 {
  padding: 5px 20px;
}

.filter-footer {
  border-top: 1px solid #555;
  align-items: center;
  padding: 5px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  margin-top: 63px;
  height: 45px;
  background-color: #d6d5d5;
  z-index: 1;
}

.itemvalue {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.itemvalue input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.itemvalue:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.itemvalue input:checked ~ .checkmark {
  background-color: #3f51b5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.itemvalue input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.itemvalue .checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
