table {
  width: 100%;
}

.filter-content {
  width: 100%;
  text-align: left;
  position: absolute;
  width: 300px;
  right: 0;
  margin-right: 40px;
}
.filter {
  width: 100%;
  text-align: right;
  position: absolute;
}

.actions {
  float: right; 
  color: #238276;
}

.example-loading-shade {
  position: absolute;
  top: 165px;
  left: 0;
  bottom: 122px;
  width: 90%;
  right: 0;
  margin-left: 5%;
  right: 0;
  background: rgba(0, 0, 0, 0.01);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #5168aa;
}
.icons {
  text-align: center;
  align-items: center;
}
.link {
  text-decoration: none;
  color: #000000;
}

.color-danger {
  color: red;
}

.color-success {
  color: green;
}

.color-warning {
  color: orange;
}
